*{margin: 0; padding: 0;}

body{
    font-size: 14px;
    display: grid;
}
#topo{
    width: 100%;
    height: auto;
    background-color: #bc0003;
}
.logo{
    display: inline;
    width: 12%;
    height: auto;
    margin-right: auto;
    padding-left: 20px;  
    padding-top: 15px;  
}

.logo-cps{
    width: 9%;
    height: auto;
    margin-right: auto;
    float: right;
    padding-top: 1%;
   
}

header h1{
    
   /* display: inline;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;*/
    
   

    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: 150px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-size: 30px;
    display: inline;
    padding: 40px 30px;
    padding-bottom: 100px;


}

.logo-sp{
    width: 13%;
    height: auto;
    margin-right: auto;
    float: right;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;  
}


nav{
    width: 100%;
    height: auto;
    background-color: #2E2E2E;
    float: left;
}
#menu{
    list-style: none;
    float: left;
    padding-left: 4%;
}
#menu li{
    position: relative;
    float: left;
}
#menu li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}
#menu li a:hover{
    background-color: #000000;
    transition: 1s;
}
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #2E2E2E;
    display: none;
    font-weight: bold;
}
#menu li:hover ul, #menu li.hover ul{
    display: block;
}
#menu li ul li{
    border: 1px solid #fff;
    display: block;
    width: 150px;
}
#conteudo{
    width: 100%;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #fff;
}
section{
    padding: 3%;
}
#rodape{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #fff;
    background-color: #2e2e2e;
    padding-top: 1%;
    text-align: center;
    width: 100%;
    height: 60px;
}

.imagem-principal{
    display: flex;
    width: 100%;
    height: 50%;
    
}

#caixa2{
    background-color: #bc0003;
    width: 70%;
    position:absolute;
    display: block;
    bottom: 330px;
    right: 300px;
    left: 230px;
    border-radius: 4px;
    Offset: 0px, 4px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  

}

#caixa2-direita{
    text-align: right;
 
    
}

#caixa2-esquerda{
    text-align: left;    

}

#caixa{
    background-color: #E5E5E5;
    width: 70%;
    position: fixed;
    /*z-index: 1;*/
    bottom: 266px;
    right: 300px;
    left: 230px;
    display: block;
    border-radius: 4px;
    Offset: 0px, 4px;

}

