* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

#topo {
    width: 100%;
    height: auto;
    background-color: #bc0003;
}

.logo {
    display: inline;
    width: 12%;
    height: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-top: 0.5%;
}

.logo-cps {
    width: 9%;
    height: auto;
    margin-right: auto;
    float: right;
    /*padding-top: 1%*/
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: 150px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-size: 30px;
    display: inline;
    padding: 40px 30px;
    padding-bottom: 100px;
}

.logo-sp {
    width: 9%;
    height: auto;
    margin-right: auto;
    float: right;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

nav {
    width: 100%;
    height: auto;
    background-color: #2E2E2E;
    float: left;
}

#menu {
    list-style: none;
    float: left;
    padding-left: 0%;
}

#menu li {
    position: relative;
    float: left;
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}

#menu li a:hover {
    background-color: #000000;
    transition: 1s;
}

#menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #2E2E2E;
    display: none;
    font-weight: bold;
}

#menu li:hover ul, #menu li.hover ul {
    display: block;
}

#menu li ul li {
    border: 1px solid #fff;
    display: block;
    width: 150px;
}

#conteudo {
    width: 100%;
    height: 100%;
    min-height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('fotoFatec.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    padding-top: 20%;
}

#rodape {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: #1C9BB5;
    background: rgb(0, 82, 99);
    background: linear-gradient(180deg, rgba(0, 82, 99, 1) 0%, rgba(1, 58, 69, 1) 53%, rgba(0, 82, 99, 1) 67%);
}

#rodape h6 {
    font-size: 20px;
}

.imagem-principal {
    display: flex;
    width: 100%;
    height: 100%;
}

.parent {
    width: 60%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top:0%;
    margin-bottom: 0%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #bc0003;
    color: #fff;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #bc0003;
    color: #fff;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #E5E5E5;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #E5E5E5;
}

.icone_rede {
    border-radius: 100%;
    padding-top: 1%;
    padding-left: 1%;
    width: 43px;
    height: 43px;
    filter: saturate(4);
}

.icone_rede:hover{
    background-color: #fff;
    opacity: 0.7;
    transition: 0.7s;
}

.grid_rodape {
    width: 60%;
    position: static;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid_rede_social {
    padding-top:4%;
    padding-left:15%;
    grid-area: 1 / 1 / 2 / 2;
}

.grid_nome_unidade {
    padding-top: 4%;
    grid-area: 1 / 2 / 2 / 3;
}

.grid_desenvolvido {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 20%;
    padding-bottom: 5%;

}